// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
#root .layout {
    background-image: url('http://local.edly.io:8000/asset-v1:openedxorg+org23+2024_y7+type@asset+block@bann1.jpeg'); /* or use another URL */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    
}
root .layout .content #main-content .btn-brand {
    border-color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
